<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2019-nCov新型肺炎数据</title>
    <!-- minify -->
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <!-- latest -->
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <!-- core style only -->
    <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link href="/static/style.css" rel="stylesheet"/>
    <style>
    @import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
    @font-face {
      font-family: 'pixel';
      src: url('/static/pixel.ttf');
    }
    </style>
</head>

<body>
<h1 style="text-align: center">2019-nCov 新型肺炎相关数据</h1>
<div align="center">
    <p>全国确诊人数：{{ confirm_total_china }}</p>

    <p>全国疑似人数：{{ suspect_total_china }}</p>

    <p>全国死亡人数：{{ dead_total_china }}</p>

    <p>全国治愈人数：{{ heal_total_china }}</p>

    <p>数据更新时间：{{ time }}</p>
</div>

<div id="各国人数" >
<p><b>各国人数</b>
    <input id="button1" type="button" value=" ⬇️" style="border-radius: 21px;cursor: s-resize"/>
</p>
<div id="div1" style="display :none ;">
<table>
    <tr>
        {% for country_list1 in country_list %}
          <th>{{ country_list1 }}</th>
        {% endfor %}
    </tr>

    <tr>{% for country_num_list1 in country_num_list %}
        <td>{{ country_num_list1 }}</td>
        {% endfor %}
    </tr>
    <input id="button2" type="button" value=" ⬆️" style="border-radius: 21px;cursor: n-resize"/>

</div>
<script type="text/javascript">
$("#button1").click(function(){
  $("#div1").fadeIn();
});

$("#button2").click(function(){
  $("#div1").fadeOut();
});
</script>
</table>
</div>


<div id="各省人数">
<p><b>各省人数</b>
    <input id="button3" type="button" value=" ⬇️" style="border-radius: 21px;cursor: s-resize"/>
</p>
<div id="div2" style="display :none ;">
<table>
    <tr>
        {% for china_province_list1 in china_province_list %}
          <th>{{ china_province_list1 }}</th>
        {% endfor %}
    </tr>

    <tr>{% for china_province_confirm_num_list1 in china_province_confirm_num_list %}
        <td>{{ china_province_confirm_num_list1 }}</td>
        {% endfor %}
    </tr>
    <input id="button4" type="button" value=" ⬆️" style="border-radius: 21px;cursor: n-resize"/>

</div>
<script type="text/javascript">
$("#button3").click(function(){
  $("#div2").fadeIn();
});

$("#button4").click(function(){
  $("#div2").fadeOut();
});
</script>
</table>
</div>

</body>
</html>